@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');




/* Resets */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-text-color);
    font-weight: 100;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-family: "Roboto" "sans-serif";
    font-size: 1.3rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;

}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

/* Creating A utility Class to add some styling */

.small-bold-text {
    font: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700px;
    ;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0px 0px 2px var(--secondary-text-color);
    transition: 0.2s ease-in-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    padding: 12px 24px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    color: var(--primary-text-color);

}

.secondary-button:hover {
    color: var(--primary-text-color);
    font-family: "Poppins" "sans-serif";
    border-color: var(--accent-color);
}

/* Special Styling for Banner */
.banner-text {
    text-align: center;
    padding: 15px 30px;
    color: white;
}

.top-banner {
    background-color: #4fb3d4;
    background-image: url('./assets/asset\ 32.png');
    background-size: 300px;
}

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.hover-links {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover {
    color: var(--accent-color);
}

.nav-text {
    font-size: 1.1rem;
}

/* Header Section */
header {
    padding: 50px var(--padding-inline-section) 0;

}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left-text {
    margin: 5px;
    font-weight: 100;
}

.header-right img {
    width: 600px;
}

.get-started-btn {
    margin-top: 20px;
}

/* Companies Section */

.companies-section {
    padding: 30px var(--padding-inline-section);
}

.company-header {
    text-align: center;
    margin: 30px;
    color: var(--primary-text-color);
    font-weight: 700;
}

.logos {
    justify-content: space-around;
}

.logo {
    width: 110px;
}

/* Features Section */

.features-area {
    padding: 80px var(--padding-inline-section);
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;

}


.features-section {
    background-image: url("assets/asset\ 34.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
    margin-top: 100px;
}

.features-heading {
    margin: 20px 0px;
}

.features-cards {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    max-width: 30%;
}

.features-cards-description {
    text-align: center;
}


/* big features section */
.big-feature-section {
    padding: 30px var(--padding-inline-section);
}

.feature-desc h4,
p {
    padding: 5px;
}


.big-feature-container {
    gap: 30px;
}

.feature-img img {
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* examples section */

.examples-section {
    padding: 30px var(--padding-inline-section);
}

.examples-cards {
    gap: 30px;
    margin: 10px;
}

.examples-card {
    position: relative;
    background-color: black;
    border-radius: 5px;
}

.examples-header {
    padding: 10px;
}

.examples-card img {
    border-radius: 5px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.examples-text {
    padding: 20px;
    color: white;
    position: absolute;
    bottom: 2px;
    left: 0px;
    z-index: 5;
}



/* cta-section */

.cta-section {
    padding: 30px var(--padding-inline-section);
    background-color: var(--primary-text-color);
    color: white;
}

.cta-section ul {
    list-style-type: disc;
}

.cta-section-div {
    max-width: 50%;
    position: relative;
    top: 0px;
    left: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.cta-section-div ul li {
    list-style-type: disc;
    width: 50%;
    padding: 5px;
}

.list-header {
    margin: 20px 0px;
}

.cta-section-ul {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0px;
    padding-left: 10px;
}

.cta-section-img {
    width: 100%;
    display: block;
    z-index: 1;
}

.cta-section-background {
    position: absolute;
    width: 50%;

    top: 25%;
    left: 25%;
    z-index: 2;
}

.image-text {
    width: 30%;
    color: black;
    position: absolute;
    top: 40%;
    left: 35%;
    z-index: 3;

    flex-direction: column;
    align-items: center;
}

.image-text-one {
    font-size: 50px;
}




/* Start Section */
.start-section {
    padding: 30px var(--padding-inline-section);
    text-align: center;
}

.start-section-heading {

    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 50px 0px;
    color: var(--primary-text-color);
}

.start-section-text {
    margin: 15px;

}

.start-section-btn {
    margin-bottom: 100px;
}

/* Footer Section */

footer {
    padding: 30px var(--padding-inline-section);
    background-color: #cbe0e8;
}

.footer-container {
    justify-content: right;
    flex-wrap: wrap;
}

.footer-heading {
    margin: 16px 0px;
    margin-top: 80px;
    font-size: 22px;
}

.footer-items {
    width: 25%;
    padding: 5px 10px;
    color: var(--secondary-text-color);
}

.footer-items li {
    padding: 5px;
}